body {
    margin: 0;
    padding: 0;
    background-image: url('fadedroad50.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #8C3826;
    
}

header {
    color: #8C3826;
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color:#FEFAEB ;
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    font-size: large;
    
}

.Main{
    background-color:#FEFAEB ;
    margin-left: 7%;
    margin-right: 7%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.contact{
    color: black;
}

.foot{
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    margin-right: 7%;
    margin-left: 7%;
}

p {
    color: black;
}

.jan{
    background-color: #D2B48C
}

h3 {
    color: black;
}

/* Your existing CSS */

.feb {
    margin-top: 20px;
}

.img-text {
    display: flex;
    align-items: center;
}

.img-wrapper {
    width: 50%;
    display: flex;
    justify-content: center; /* Align the image horizontally to the center */
}


.img-wrapper img {
    max-width: 100%;
    height: auto;
    padding-left: 100px;
}

.text {
    width: 50%;
    padding-right:300px ;
}


.contact {
    margin-top: 20px;
}

.footer {
    padding-top: 300px;
}

.text {
    width: 50%;
    padding-left: 20px; /* Adjust the padding as needed */
}

.img-wrapper img {
    max-width: 100%;
    height: auto;
    padding-right: 20px; /* Adjust the padding as needed */
}

.footer {
    margin-top: 20%; /* Adjust the margin-top as needed */
}
